@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
  font-family: "DrukWideBold";
  src: url("../font/DrukWideBold/DrukWideBold.ttf"); 
}
@font-face {
  font-family: "DrukWideMedium";
  src: url("../font/DrukWideMedium/DrukWideMedium.ttf"); 
}


*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
  --kolor-glowny: #fefff5;
  --kolor-nagl: rgba(0,82,147,.81);
  --kolor-nagl2: #005787;
  --kolor-menu: #f3f3f3;
  --kolor-txt: rgb(223, 223, 223);
  --linia1: rgba(255, 255, 255, 0.7);
}


:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
}


.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
.figure {
  display: inline-block;
}
.figure-img {
  margin-bottom: 0.5rem;
  line-height: 1;
}
.figure-caption {
  font-size: 90%;
  color: #6c757d;
}
code {
  font-size: 87.5%;
  color: #e83e8c;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700;
}
pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
.container {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
      max-width: 470px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 660px;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 850px;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1150px;
  }
}
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
      max-width: 470px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
      max-width: 660px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
      max-width: 850px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
      max-width: 1150px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.row-cols-1 > * {
  flex: 0 0 100%;
  max-width: 100%;
}
.row-cols-2 > * {
  flex: 0 0 50%;
  max-width: 50%;
}
.row-cols-3 > * {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.row-cols-4 > * {
  flex: 0 0 25%;
  max-width: 25%;
}
.row-cols-5 > * {
  flex: 0 0 20%;
  max-width: 20%;
}
.row-cols-6 > * {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.order-first {
  order: -1;
}
.order-last {
  order: 13;
}
.order-0 {
  order: 0;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.order-4 {
  order: 4;
}
.order-5 {
  order: 5;
}
.order-6 {
  order: 6;
}
.order-7 {
  order: 7;
}
.order-8 {
  order: 8;
}
.order-9 {
  order: 9;
}
.order-10 {
  order: 10;
}
.order-11 {
  order: 11;
}
.order-12 {
  order: 12;
}
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .col-sm {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
  }
  .row-cols-sm-1 > * {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .row-cols-sm-2 > * {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .row-cols-sm-3 > * {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
  .row-cols-sm-4 > * {
      flex: 0 0 25%;
      max-width: 25%;
  }
  .row-cols-sm-5 > * {
      flex: 0 0 20%;
      max-width: 20%;
  }
  .row-cols-sm-6 > * {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  .col-sm-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
  }
  .col-sm-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
  }
  .col-sm-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  .col-sm-3 {
      flex: 0 0 25%;
      max-width: 25%;
  }
  .col-sm-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
  .col-sm-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
  }
  .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .col-sm-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
  }
  .col-sm-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
  }
  .col-sm-9 {
      flex: 0 0 75%;
      max-width: 75%;
  }
  .col-sm-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
  }
  .col-sm-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
  }
  .col-sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .order-sm-first {
      order: -1;
  }
  .order-sm-last {
      order: 13;
  }
  .order-sm-0 {
      order: 0;
  }
  .order-sm-1 {
      order: 1;
  }
  .order-sm-2 {
      order: 2;
  }
  .order-sm-3 {
      order: 3;
  }
  .order-sm-4 {
      order: 4;
  }
  .order-sm-5 {
      order: 5;
  }
  .order-sm-6 {
      order: 6;
  }
  .order-sm-7 {
      order: 7;
  }
  .order-sm-8 {
      order: 8;
  }
  .order-sm-9 {
      order: 9;
  }
  .order-sm-10 {
      order: 10;
  }
  .order-sm-11 {
      order: 11;
  }
  .order-sm-12 {
      order: 12;
  }
  .offset-sm-0 {
      margin-left: 0;
  }
  .offset-sm-1 {
      margin-left: 8.33333%;
  }
  .offset-sm-2 {
      margin-left: 16.66667%;
  }
  .offset-sm-3 {
      margin-left: 25%;
  }
  .offset-sm-4 {
      margin-left: 33.33333%;
  }
  .offset-sm-5 {
      margin-left: 41.66667%;
  }
  .offset-sm-6 {
      margin-left: 50%;
  }
  .offset-sm-7 {
      margin-left: 58.33333%;
  }
  .offset-sm-8 {
      margin-left: 66.66667%;
  }
  .offset-sm-9 {
      margin-left: 75%;
  }
  .offset-sm-10 {
      margin-left: 83.33333%;
  }
  .offset-sm-11 {
      margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .col-md {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
  }
  .row-cols-md-1 > * {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .row-cols-md-2 > * {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .row-cols-md-3 > * {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
  .row-cols-md-4 > * {
      flex: 0 0 25%;
      max-width: 25%;
  }
  .row-cols-md-5 > * {
      flex: 0 0 20%;
      max-width: 20%;
  }
  .row-cols-md-6 > * {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  .col-md-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
  }
  .col-md-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
  }
  .col-md-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  .col-md-3 {
      flex: 0 0 25%;
      max-width: 25%;
  }
  .col-md-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
  .col-md-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
  }
  .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .col-md-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
  }
  .col-md-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
  }
  .col-md-9 {
      flex: 0 0 75%;
      max-width: 75%;
  }
  .col-md-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
  }
  .col-md-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
  }
  .col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .order-md-first {
      order: -1;
  }
  .order-md-last {
      order: 13;
  }
  .order-md-0 {
      order: 0;
  }
  .order-md-1 {
      order: 1;
  }
  .order-md-2 {
      order: 2;
  }
  .order-md-3 {
      order: 3;
  }
  .order-md-4 {
      order: 4;
  }
  .order-md-5 {
      order: 5;
  }
  .order-md-6 {
      order: 6;
  }
  .order-md-7 {
      order: 7;
  }
  .order-md-8 {
      order: 8;
  }
  .order-md-9 {
      order: 9;
  }
  .order-md-10 {
      order: 10;
  }
  .order-md-11 {
      order: 11;
  }
  .order-md-12 {
      order: 12;
  }
  .offset-md-0 {
      margin-left: 0;
  }
  .offset-md-1 {
      margin-left: 8.33333%;
  }
  .offset-md-2 {
      margin-left: 16.66667%;
  }
  .offset-md-3 {
      margin-left: 25%;
  }
  .offset-md-4 {
      margin-left: 33.33333%;
  }
  .offset-md-5 {
      margin-left: 41.66667%;
  }
  .offset-md-6 {
      margin-left: 50%;
  }
  .offset-md-7 {
      margin-left: 58.33333%;
  }
  .offset-md-8 {
      margin-left: 66.66667%;
  }
  .offset-md-9 {
      margin-left: 75%;
  }
  .offset-md-10 {
      margin-left: 83.33333%;
  }
  .offset-md-11 {
      margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
  }
  .row-cols-lg-1 > * {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .row-cols-lg-2 > * {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .row-cols-lg-3 > * {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
  .row-cols-lg-4 > * {
      flex: 0 0 25%;
      max-width: 25%;
  }
  .row-cols-lg-5 > * {
      flex: 0 0 20%;
      max-width: 20%;
  }
  .row-cols-lg-6 > * {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  .col-lg-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
  }
  .col-lg-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
  }
  .col-lg-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  .col-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
  }
  .col-lg-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
  .col-lg-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
  }
  .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .col-lg-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
  }
  .col-lg-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
  }
  .col-lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
  }
  .col-lg-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
  }
  .col-lg-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
  }
  .col-lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .order-lg-first {
      order: -1;
  }
  .order-lg-last {
      order: 13;
  }
  .order-lg-0 {
      order: 0;
  }
  .order-lg-1 {
      order: 1;
  }
  .order-lg-2 {
      order: 2;
  }
  .order-lg-3 {
      order: 3;
  }
  .order-lg-4 {
      order: 4;
  }
  .order-lg-5 {
      order: 5;
  }
  .order-lg-6 {
      order: 6;
  }
  .order-lg-7 {
      order: 7;
  }
  .order-lg-8 {
      order: 8;
  }
  .order-lg-9 {
      order: 9;
  }
  .order-lg-10 {
      order: 10;
  }
  .order-lg-11 {
      order: 11;
  }
  .order-lg-12 {
      order: 12;
  }
  .offset-lg-0 {
      margin-left: 0;
  }
  .offset-lg-1 {
      margin-left: 8.33333%;
  }
  .offset-lg-2 {
      margin-left: 16.66667%;
  }
  .offset-lg-3 {
      margin-left: 25%;
  }
  .offset-lg-4 {
      margin-left: 33.33333%;
  }
  .offset-lg-5 {
      margin-left: 41.66667%;
  }
  .offset-lg-6 {
      margin-left: 50%;
  }
  .offset-lg-7 {
      margin-left: 58.33333%;
  }
  .offset-lg-8 {
      margin-left: 66.66667%;
  }
  .offset-lg-9 {
      margin-left: 75%;
  }
  .offset-lg-10 {
      margin-left: 83.33333%;
  }
  .offset-lg-11 {
      margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
  }
  .row-cols-xl-1 > * {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .row-cols-xl-2 > * {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .row-cols-xl-3 > * {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
  .row-cols-xl-4 > * {
      flex: 0 0 25%;
      max-width: 25%;
  }
  .row-cols-xl-5 > * {
      flex: 0 0 20%;
      max-width: 20%;
  }
  .row-cols-xl-6 > * {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  .col-xl-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
  }
  .col-xl-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
  }
  .col-xl-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  .col-xl-3 {
      flex: 0 0 25%;
      max-width: 25%;
  }
  .col-xl-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
  .col-xl-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
  }
  .col-xl-6 {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .col-xl-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
  }
  .col-xl-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
  }
  .col-xl-9 {
      flex: 0 0 75%;
      max-width: 75%;
  }
  .col-xl-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
  }
  .col-xl-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
  }
  .col-xl-12 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .order-xl-first {
      order: -1;
  }
  .order-xl-last {
      order: 13;
  }
  .order-xl-0 {
      order: 0;
  }
  .order-xl-1 {
      order: 1;
  }
  .order-xl-2 {
      order: 2;
  }
  .order-xl-3 {
      order: 3;
  }
  .order-xl-4 {
      order: 4;
  }
  .order-xl-5 {
      order: 5;
  }
  .order-xl-6 {
      order: 6;
  }
  .order-xl-7 {
      order: 7;
  }
  .order-xl-8 {
      order: 8;
  }
  .order-xl-9 {
      order: 9;
  }
  .order-xl-10 {
      order: 10;
  }
  .order-xl-11 {
      order: 11;
  }
  .order-xl-12 {
      order: 12;
  }
  .offset-xl-0 {
      margin-left: 0;
  }
  .offset-xl-1 {
      margin-left: 8.33333%;
  }
  .offset-xl-2 {
      margin-left: 16.66667%;
  }
  .offset-xl-3 {
      margin-left: 25%;
  }
  .offset-xl-4 {
      margin-left: 33.33333%;
  }
  .offset-xl-5 {
      margin-left: 41.66667%;
  }
  .offset-xl-6 {
      margin-left: 50%;
  }
  .offset-xl-7 {
      margin-left: 58.33333%;
  }
  .offset-xl-8 {
      margin-left: 66.66667%;
  }
  .offset-xl-9 {
      margin-left: 75%;
  }
  .offset-xl-10 {
      margin-left: 83.33333%;
  }
  .offset-xl-11 {
      margin-left: 91.66667%;
  }
}



body {
  margin: 0;
  line-height: 1.2;
  font-family: "Montserrat";
  color: #fff;
  background: #000;
}

.overhidden {
  overflow-y: hidden;
}
.js body {
  overflow-x: hidden;
  background: #000;
	opacity: 0;
	transition: opacity 0.3s;		
}
.js body.render {
  opacity: 1;
  background-color: #000;
}

.padding {
  padding: 0px 9%;
}

@media(min-width:768px) {
  .wrapper {
    display: block;
    overflow: hidden;
  }

  .smooth-scroll {
    position: relative;
  }
}

  
  .linkcursor {
    position: absolute;
    text-decoration: none;
    color: #fff;
  }
  .blue {
    color: var(--kolor-nagl2);
  }
  .black {
    color: #000;
  }

  .button1 {
    padding: 15px 35px;
    background: var(--kolor-nagl2);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 700;
    border: none;
    cursor: pointer;
  }

  .button1:hover {
    background: darkred;
    transition: .3s ease-in-out;
  }
h1, h2, h3, h4 {
  margin: 0;
  font-family: "Anton";
  letter-spacing: 1px;
}
h1 { 
  color: var(--kolor-nagl);
  font-size: 25vw;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
}
h2 { 
  font-weight: 800;
  text-transform: uppercase;
  font-size: 11vw;
}
h3 {
  color: var(--kolor-glowny2);
  font-size: 9vw;
}
h4 {
  text-transform: uppercase;
  font-weight: 500;
}
h5 {
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 28px;
}

.mrowienie {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(../img/noise.gif);
}
.h1trans {
  color: transparent;
 -webkit-text-stroke: 2px #000;
}

@media(min-width:768px) {
  h1 {
    font-size: 20.8vw;
  }
  h2 {
    font-size: 3.6vw;
  }
  h3 {
    font-size: 2.5vw;
  }
  h4 {
    font-size: 1.7vw;
  }
  h5 {
    font-size: 2vw;
  }
}
a {
  color: #fff;
  text-decoration: none;
}
p {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  color: var(--kolor-txt);
  line-height: 1.6;
}
.textback {
  margin: 0;
  font-family: "Anton";
  font-size: 8vw;
  font-weight: 900;
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.7);
}
/*----------------- PRZYCISK --------------------------*/


/* Slide transitions */
.slideUp {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  transition: transform .5s ease-out;
}

.slideDown {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: transform .5s ease-out;
}


header {
	height: 78px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 999;
  }
  
  /* navbar regular css start */
  .navbar-area {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); 
	padding: 0px 50px;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-logo img {
    width: 202px;
    height: auto;
    margin: -20px 0px;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    color: #fff;
    padding: 20px 15px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }
  /* navbar regular css end */
  
  
  /* nav-toggler css start */
  .nav-toggler {
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
	height: 39px;
	border: none;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-11px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(8px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
  @media screen and (max-width: 767px) {
    .container {
      max-width: 720px;
	}
	.navbar-area {
		padding: 0px 25px;
	  }
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
    }
    .site-navbar ul {
      position: absolute;
      width: 100%;
      height: 100vh;
	  top: 0;
	  left: 0;
	  
      flex-direction: column;
      align-items: center;
      background-color: rgba(0,0,0,.86);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
      padding: 25px;
    }
    .site-navbar ul li a:hover {
      background-color: rgba(255,255,255,.1);
    }
    .site-navbar ul.open {
	  max-height: 100vh;
	  padding: 80px 0px;
      overflow: visible;
    }
   
    /* navbar css for mobile end */
  }
  
  /*----------------------FIXES------------------------*/

@media(min-width:768px) {
  .padd-50 {
    padding-top: 60px;
  }
  .flex-center {
    display: flex;
    align-items: center;
  }
}

/*----------------------GŁÓWNA------------------------*/

@media(max-width:768px) {
  .nav-container a {
    font-size: 38px;
  }}
.kontnr p {
  font-size: 25px;
  font-weight: 500;
text-transform: uppercase;
line-height: 1.3;
}

element {
    transform: translate3d(0px, 0px, 0px);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media(min-width:768px) {
  body .scroll-trigger_move-in-right-fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: all .5s ease-out;
    transition-delay: inherit;
  }
  body .scroll-trigger_move-in-right-fade-in.animation_move-in-fade-in {
    opacity: 1;
    transform: translateX(0);
    transition: all .5s ease-out;
  }
  body .scroll-trigger_move-in-left-fade-in {
    opacity: 0;
    transform: translateX(-50px);
  }
  body .scroll-trigger_move-in-left-fade-in.animation_move-in-fade-in {
    opacity: 1;
    transform: translateX(0);
    transition: all .5s ease-out;
  }
  body [class*="animation_"].delay-250 {
    animation-delay: 250ms;
    transition-delay: .25s;
  }
  body [class*="animation_"].delay-500 {
    animation-delay: 500ms;
    transition-delay: .5s;
  }
  body [class*="animation_"].delay-750 {
    animation-delay: 750ms;
    transition-delay: .75s;
  }
  body [class*="animation_"].delay-1000 {
    animation-delay: 1000ms;
    transition-delay: 1s;
  }
  body [class*="animation_"].delay-1250 {
    animation-delay: 1250ms;
    transition-delay: 1.25s;
  }
}

.line1 {
  width: 25%;
  padding: 1px;
  margin-left: 0;
  color: var(--kolor-nagl2);
  background-color: var(--kolor-nagl2);
  margin: 20px 0 20px;
}

/*----------------------  SEKCJA1   ----------------------*/

.opisglowny {
  position: relative;
  height: 100vh;
  background: url(../img/main/main.jpg);
  background-size: cover;
  z-index: 9
}

.opisglowny h1::after {
  content: "CARGO & lOGISTICS";
position: absolute;
bottom: -72px;
right: 0;
width: 50%;
font-size: 5vw;
color: #fff;
line-height: 1;
text-shadow: -1px 1px 3px #000;
}

@media(max-width:768px) {
  .opisglowny h1::after {
  top: 55%;
  right: 0;
  font-size: 8vw;
  }
}

/*----------------------  SEKCJA1   ----------------------*/

.sekcja1 {
  position: relative;
  min-height: 100vh;
  padding: 100px 0px 50px;
  background: url("../img/main/mapa.jpg");
  background-size: cover;
}
.sekcja1 .textback {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.sekcja1 ol {
  margin-left: -20px;
padding-bottom: 24px;
line-height: 1.6;
}

.sekcja1 .obraz {
  margin-top: 30px;
  position: relative;
  z-index: 9;
}

.afterimg {
  position: absolute;
  right: 0;
  top: 0%;
  padding-left: 20%;
  padding-bottom: 20%;
  z-index: 1;
}

@media(min-width:768px) {
  .sekcja1 .obraz {
    padding-right: 15%;
    margin-top: 0;
  }
  .width5 {
    width: 70%;
  }
}

/*----------------------  SEKCJA2   ----------------------*/

.sekcja2 {
  position: relative;
  min-height: 100vh;
  padding: 70px 0px;
  background: url("../img/main/main4.jpg");
  background-position: right;
  background-size: cover;
  z-index: 9;
}

.sekcja2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(0,87,135);
  background: linear-gradient(270deg, rgba(0,87,135,1) 0%, rgba(0,87,135,0.1) 100%); 
}

.sekcja2 h3 {
  margin: 0;
  font-size: 3.6vw;
  line-height: 1.2;
  text-transform: uppercase;
}

.sekcja2 p {
  margin-bottom: 35px;
}

@media(max-width:768px) {
  .sekcja2 h3 {
    font-size: 11vw;
    margin-bottom: 30px;
  }
  .afterimg {
    display: none;
  }
}
/*----------------------  SEKCJA3   ----------------------*/

.sekcja3 {
  min-height: 100vh;
  padding: 70px 0px;
  background: url("../img/main/mapa.jpg");
  background-size: cover;
}

.sekcja3 h2 {
  color: var(--kolor-nagl2);
  font-size: 4vw;
}

.sekcja3 h3 {
  text-transform: uppercase;
}

.sekcja3 p {
  margin-bottom: 50px;
}



@media(max-width:768px) {
  .sekcja3 h2 {
    font-size: 12vw;
  }
  .sekcja3 h3 {
    font-size: 5vw;
  }
  
}
/*----------------------  SEKCJA4   ----------------------*/

.sekcja4 {
  position: relative;
  min-height: 100vh;
  padding: 70px 0px;
  background: url("../img/main/main4.jpg");
  background-size: cover;
  z-index: 9;
}

.sekcja4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,82,147,.31);
}
.sekcja4 h3 {
  font-size: 5vw;
  text-transform: uppercase;
}


.sekcja5 {
  min-height: 100vh;
  padding: 100px 0px;
  background: url("../img/main/map.jpg");
  background-size: cover;
}
.sekcja5 h2 {
  margin-bottom: 70px;
}
.around {
  display: flex;
justify-content: space-between;
}
.column1 {
  margin: 15px 0px;
  padding: 70px 25px 65px;
  background: rgba(41, 41, 41, 1);
  text-align: center;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.column1:hover {
  background: var(--kolor-nagl2);
}
.sekcja5 h3 {
  font-weight: 1.4vw;
  text-transform: uppercase;
}
.ikonka1 {
  width: 110px;
  height: auto;
}
.ikonka2 {
  width: 70px;
  height: auto;
}
.ikonka3 {
  width: 80px;
  height: auto;
}
.ikonka4 {
  width: 167px;
  height: auto;
margin: -26px 0px;
}
.ikonka5 {
  width: 85px;
  height: auto;
  margin: 0px 0px -14px;
}
.fixmarg {
  margin: 15px 0px 0px;
}
.fix2 {
  padding-bottom: 35px;
}

/*----------------------  KONTAKT  ----------------------*/

.kontakt {
  padding: 120px 0px;
  background: #000;
}
.kontakt ul {
  margin-top: 40px;
  list-style: none;
  margin-left: -40px;
  line-height: 1.8;
}


/*----------------------  FORMULARZ  ----------------------*/

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}


fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid var(--kolor-nagl);
  background: #222;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


.stopka {
  background-color: #000;
}

.stopka .around {
  padding: 25px 0px;
}

.stopka a {
  color: #fff;
  text-decoration: none;
}

.bordtop {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

#breadcrumbs {
  list-style:none;
  display:flex;
  margin: 50px 0px 0px;
  padding:0px;
}

#breadcrumbs li {
  margin: 0px 6px auto;
}

#breadcrumbs li a {
  color: rgb(202, 202, 202);
text-decoration: none;
font-size: 14px;
text-transform: uppercase;
font-weight: 400;
font-family: "Montserrat";
transition: .3s ease-in-out;
}
#breadcrumbs li a:hover {
  color:var(--kolor-nagl2);
  text-decoration: none;
}


#breadcrumbs li+li:before  {
  padding: 8px 0px;
  color:#fff;
  content: "/";
}

.opisoferta {
  padding: 100px 0px 10px;
  margin-bottom: -100px;
  background: #000;
}

.podstrony {
  padding: 100px 0px 0px;
  background: #000;
}

.podstrony h1 {
   font-size: 4vw;
   color: #fff;
}

.podstrony p {
  margin: 0;
}

.podstrony .line1 {
  margin: 20px 0px;
}

.podstrony .textback {
  font-size: 12vw;
  margin-left: -120px;
  -webkit-text-stroke: 2px var(--kolor-nagl2);
  width: 200%;
}
.podstrony2 .column {
  margin: 15px 0px;
  padding: 70px 25px 25px;
  background: rgba(41, 41, 41, 1);
  text-align: center;
}
.podstrony2 h3 {
  font-weight: 1.4vw;
  text-transform: uppercase;
}
.podstrony2 .ikonka {
  width: 220px;
  height: auto;
}

.iconhov {
  fill: red;
  color: aqua;
}

.white {
  color: #fff;
}
.padtop {
  padding-top: 80px;
}
.padbot {
  padding-bottom: 80px;
}
.moveup {
  margin-top: -100px;
width: 100%;
height: 74vh !important;
object-fit: cover;
}

@media(max-width:768px) {
  .margmob {
    margin-top: 50px;
  }
  .podstrony h1 {
    font-size: 14vw;
    margin-bottom: 70px;
 }
}

.sekcjaoferta ul {
  margin-left: -20px;
  line-height: 1.7;
}


.polityka h3 {
  margin: 50px 0 30px;
}

